body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    width: 100%;
    border-radius: 20px;
    border: solid 3px black;
}

header h1{
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);;
}
img{
width: 30%;
max-width: 20%;
}

.form {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    border: solid 3px black;
    margin: 100px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input[type="button"] {
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: rgb(117, 2, 2);
}

footer{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
}

footer img{
    width: 20%;
    
}