header{
    background-color: red;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.main h1{
    font-family: 'Bebas Neue', sans-serif;
}